@tailwind base;
@tailwind components;
@tailwind utilities;

.row{
    display: flex;
    flex-wrap: wrap;
}
@font-face {
    font-family: acron;
    src: url(../font/acorn.ttf) format("opentype");
}
@font-face {
    font-family: gt;
    src: url(../font/gt.ttf) format("opentype");
}

.gradient-background {
    background: linear-gradient(288deg,#7f76a8,#816e97,#1d4e36,#663c33,#303c58);
    background-size: 300% 300%;
    animation: gradient-animation 100s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }